# Build and cache
.gradle/
build/
local.properties
.kotlin/
.freebuff/
.artifacts/

# Android Studio / IntelliJ
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

# OS specific
.DS_Store
Thumbs.db

# Built application files
*.apk
*.ap_
*.aab

# Artifacts/Log files
*.log
*.swp
*.bak
